{% extends 'base.html' %}

{% block content %}
<h1>{{ category.name }}</h1>

<ul>
    {% for dish in dishes %}
        <li>

            {% if dish.media.first %}
                <img src="{{ dish.media.first.file.url }}" width="150">
            {% endif %}

            <a href="{% url 'dish_detail' dish.id %}">
                {{ dish.name }}
            </a>
            — {{ dish.price }} грн

            {% if dish.available %}
                <span style="color: green;">В наличии</span>

                <form action="{% url 'add_to_cart' dish.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Добавить в корзину</button>
                </form>
            {% else %}
                <span style="color: red;">Нет в наличии</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}